<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InfoSoldaduraPDF.Properties.Settings.ggConnectionString"
            connectionString="Data Source=db-imedexsa;Initial Catalog=gg;User ID=gg;Password=ostia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
</configuration>